<div class="envolve-tabela">

  <table mat-table [dataSource]="products" >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name" class="botoes">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef  >
        <button mat-button color="accent" aria-label="Add New Product" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let element" >
        <button mat-button color="primary" class="actions-btn" aria-label="Modify Product"
          (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" class="actions-btn" aria-label="Remove Product"
          (click)="onRemove(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
